body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F8E7F6; /* Light purple */
    transition: background-color 0.3s ease-in-out;
}

.editor-container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    /* text-align: center; */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.editor-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.toolbar {
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.toolbar:hover {
    background-color: #F5F5F5; /* Light gray */
}

.toolbar button,
.toolbar select,
.toolbar input {
    padding: 8px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #F7F7F7; /* Very light gray */
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.toolbar button:hover,
.toolbar select:hover,
.toolbar input:hover {
    background-color: #DD88CF; /* Pinkish color */
    transform: translateY(-2px);
}

.editor {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    background-color: #fff;
    overflow-y: auto;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.editor:focus {
    box-shadow: 0 0 5px rgba(75, 22, 76, 0.5); /* Dark purple */
}

.files_title {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: #F5F5F5; /* Light gray */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.files_title input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #DDD;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.files_title input::placeholder {
    color: #DD88CF; /* Pinkish color */
    font-style: italic;
}

.files_title input:focus {
    border-color: #4B164C; /* Dark purple */
    box-shadow: 0 0 5px rgba(75, 22, 76, 0.3); /* Dark purple */
}
